<div class="container">
    <br>

    <div class="form-group row">
        <div class="col-12">
            <div class="row heading">
                <div class="col-12">
                    <h3><strong>เเก้ไขข้อมูลห้องพัก</strong></h3>
                </div>
                <div class="col-12 px-3">
                    <div class="border-bottom"></div>
                </div>

            </div>
        </div>
    </div>


    <form [formGroup]="roomeditForm" class="card-body " autocomplete="off">
        <div class=" card bg-white shadow-lg " style="max-width: 70rem;">
            <br>
            <div class="form-group row ">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <label>เลขห้อง</label>
                    <input type="text" class="form-control" formControlName="roomName" required />
                </div>
                <div class="col-md-3">
                    <label>ประเภทห้อง</label>
                    <div class="form-group ">
                        <select id="country" class="form-control" formControlName="roomTypename">
                            <option> กรุณาเลือก </option>
                            <option>แอร์</option>
                            <option>พัดลม</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>สถานะห้อง</label>
                    <div class="form-group ">
                        <select id="country" class="form-control" formControlName="roomStatvs">
                            <option> กรุณาเลือก </option>
                            <option>ว่าง</option>
                            <option>ไม่ว่าง</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2"></div>
                <div class="col-md-3">
                    <label>ค่าน้ำต่อหน่วย</label>
                    <input type="text" class="form-control" formControlName="roomWater" required />
                </div>
                <div class="col-md-3">
                    <label>ค่าไฟต่อหน่วย</label>
                    <input type="text" class="form-control" formControlName="roomLight" required />
                </div>
                <div class="col-md-3">
                    <label>ราคาห้อง</label>
                    <input type="text" class="form-control" formControlName="roomPrice" required />
                </div>
            </div>
            <br>

            <div style="text-align: center;">
                <button type="submit" class="btn btn-info btn-lg" (click)="save()">บันทึก</button>&nbsp;
                <button type="button" class="btn btn-info btn-lg" (click)="back()">ย้อนกลับ</button>
            </div><br>
        </div>
    </form>


</div>