<div class="container p-4" style="background-color: #DEF2F1; min-height: 591px;">
    <div class="container bg-white shadow-lg col-9 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading">
                    <div class="col-12">
                        <h4>เเก้ไขข้อมูลห้องพัก</h4>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- formeditroom -->
            <form [formGroup]="roomeditForm" class="card-body " autocomplete="off">
                <div class="form-group row content">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <label>เลขห้อง<span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <input type="text" class="form-control input-inline " formControlName="roomId" required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>ประเภทห้อง<span class="text-danger">*</span></label>
                        <div>
                            <select id="inputState" class="form-control input-inline form-select"
                                formControlName="roomTypename">
                                <option value="" disabled>เลือกประเภทห้อง</option>
                                <option *ngFor="let prf of roomTypename" [ngValue]="prf">{{ prf }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>สถานะห้อง<span class="text-danger">*</span></label>
                        <div>
                            <select id="inputState" class="form-control input-inline form-select"
                                formControlName="roomStatus">
                                <option value="" disabled>เลือกสถานะห้อง</option>
                                <option *ngFor="let prf of roomStatus" [ngValue]="prf">{{prf == '1'? 'ว่าง': 'ไม่ว่าง'}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row content">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <label>ค่าน้ำตั้งต้น<span class="text-danger">*</span></label>
                        <div>
                            <input type="text" class="form-control input-inline " formControlName="roomWater"
                                required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>ค่าไฟตั้งต้น<span class="text-danger">*</span></label>
                        <div>
                            <input type="text" class="form-control input-inline " formControlName="roomLight"
                                required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>ราคาห้อง<span class="text-danger">*</span></label>
                        <div>
                            <input type="text" class="form-control input-inline  " formControlName="roomPrice"
                                required />
                        </div>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-info btn-lg" (click)="back()">ย้อนกลับ</button>&nbsp;
                    <button type="submit" class="btn btn-info btn-lg" (click)="save()">บันทึก</button>
                   
                </div><br>
            </form>
    </div>

</div>