<div class="container">
    <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>เพิ่มข้อมูลห้องพัก</h3>
    </div>
    <div class="card   ">
        <div class="card-body ">
            
            <form class="row g-3 " autocomplete="off">
                <div class="container " >
                <div class="form-group" >
                    <div class="row"> 
                        
                        <label  class="col-md-0 control-label">หมายเลขห้อง</label>   
                        <div class="form-group ">                                                                
                          <div class="col-sm-10 ">                                  
                                <select id="country" class="form-control" >
                                    <option >-------</option>
                                    <option>A01</option>
                                    <option>A02</option>
                                    <option>A03</option>
                                    <option>A04</option>
                                    <option>A05</option>
                                    <option>A06</option>
                                    <option>A07</option>
                                    <option>A08</option>
                                    <option>A09</option>
                                    <option>A10</option>
                                </select>
                            </div>
                        </div> 
                        <label  class="col-md-0 control-label">ประเภทห้อง</label>      
                        <div class="form-group ">                                                                
                            <div class="col-sm-10 ">                                  
                                  <select id="country" class="form-control" >
                                      <option >-------</option>
                                      <option>ห้องแอร์</option>
                                      <option>พัดลม</option>
                                    
                                  </select>
                              </div>
                          </div>
                        <label  class="col-md-0 control-label">สถานะห้อง</label>   
                        <div class="form-group ">                                                                
                            <div class="col-sm-10 ">                                  
                                  <select id="country" class="form-control" >
                                      <option >-------</option>
                                      <option>ไม่ว่าง</option>
                                      <option>ว่าง</option>
                                    
                                  </select>
                              </div>
                          </div>
                    </div>

                       
                            
                         
                       <br>
                    <div style="text-align: center;">
                    <button type="submit"  class="btnSubmit">บันทึก</button>&nbsp;
                    <button type="reset" class="btnSubmit">ล้างข้อมูล</button>&nbsp;
                    <button type="button" class="btnSubmit" routerLink="../room">ย้อนกลับ</button>
                    </div>
                
                </div>
               </div>
                </form>

</div>