
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>ใบเเจ้งหนี้</h3>
    </div>
    
    <div class=" d-flex justify-content-between flex-wrap flex-md-nowrap pt-5 pb-1 mb-2 ">
        <form class="form-inline ">
            <input class="form-control mr-sm-2  " type="search" placeholder="Search" aria-label="Search">
            <button class="nav-link btn btn-success c my-2 my-sm-0" type="submit" routerLink="">Search</button>
        </form>
        <button type="button" class="btnSubmit " routerLink="../regisinvoice">บันทึกใบแจ้งหนี้</button>
    </div>
    <br>
    <h5 class="text-center">ใบเเจ้งชำระเงิน</h5>
    <br>
    <table class="table text-center table ">
        <thead class=" table-info">
            <tr>
                <th scope="col">หมายเลขห้อง</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">อีเมล</th>
                <th scope="col">วันออกใบเเจ้งหนี้</th>
                <th scope="col">วันที่กำหนดจ่าย</th>
                <th scope="col">สถานะ</th>
               

            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <th scope="row">A101</th>
                <td>1</td>
                <td>1</td>
                <td>Beam@gmail.com</td>
                <td>27/6/2564</td>
                <td>5/7/2564</td>
                <td><button type="button" class="btn btn-success btn-sm">จ่ายเเล้ว</button></td>
              


            </tr>
            <tr>
                <th scope="row">A102</th>
                <td>1</td>
                <td>1</td>
                <td>Beam@gmail.com</td>
                <td>27/6/2564</td>
                <td>5/7/2564</td>
                <td><button type="button" class="btn btn-success btn-sm">จ่ายเเล้ว</button></td>
               


            </tr>
            <tr>
                <th scope="row">A103</th>
                <td>1</td>
                <td>1</td>
                <td>Beam@gmail.com</td>
                <td>27/6/2564</td>
                <td>5/7/2564</td>
                <td><button type="button" class="btn btn-danger btn-sm">ค้างชำระ</button></td>
              

            </tr>
            <tr>
                <th scope="row">A104</th>
                <td>1</td>
                <td>1</td>
                <td>Beam@gmail.com</td>
                <td>27/6/2564</td>
                <td>5/7/2564</td>
                <td><button type="button" class="btn btn-success btn-sm">จ่ายเเล้ว</button></td>
               


            </tr>
            <tr>
                <th scope="row">A105</th>
                <td>1</td>
                <td>1</td>
                <td>Beam@gmail.com</td>
                <td>27/6/2564</td>
                <td>5/7/2564</td>
                <td><button type="button" class="btn btn-success btn-sm">จ่ายเเล้ว</button></td>
               

            </tr>


        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
