<body>
    <header>
      <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
        rel="stylesheet">
      <style>
        h1 {
          font-family: 'Kanit', sans-serif;
        }
      </style>
    </header>
  
    <div class="container card">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="box">
                        <h1>เข้าสู่ระบบ</h1>
                        <input type="text" formControlName="username" class="form-control" placeholder="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username?.errors }">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && f.password?.errors }">
                        <input type="submit" name="" value="เข้าสู่ระบบ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>