<body>
  <header>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
      rel="stylesheet">
    <style>
      h1 {
        font-family: 'Kanit', sans-serif;
      }

      h3 {
        font-family: 'uppercase', sans-serif;
      }

      h4 {
        font-family: 'Kanit', sans-serif;
      }

      h5 {
        font-family: 'Kanit', sans-serif;
      }

      p {
        font-family: 'uppercase', sans-serif;
      }
    </style>
  </header>


  <div data-spy="scroll" data-target="#myNavbar" data-offset="0">
    <br>
    <div class="container ">
      <div class="row">
        <div class="col border-bottom">
          <h3><span>ประเภทห้องพัก</span></h3>
        </div>
      </div>
    </div><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-10"></div>
        <div class="col">
          <a>จำนวนห้องว่าง:<span style="color: rgb(255, 1, 1);"> {{room}}</span> </a>
        </div>
      </div>
    </div><br>
    <div id="section2" class="row">
      <div class="col-sm-2"></div>
      <div class="col-md-3">
        <div class="roombox">
          <div class="room-img"><a href="home/page3" target="_self"><img
                src="https://www.malizon.com/upload/19256/E5PmOOqxaW.jpg" alt=" " /></a></div>
          <div class="room-detail">
            <h3><a href="home/page2" target="_self">ห้องแอร์</a></h3>
            <div class="room-price">สำหรับ แขกที่เข้าพัก 2 คน</div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="roombox">
          <div class="room-img"><a href="home/test" target="_self"><img
                src="https://www.malizon.com/upload/19256/Rji0vS5Q37.jpg" alt=" " /></a></div>
          <div class="room-detail">
            <h3><a href="home/page2" target="_self">ห้องพัดลม</a></h3>
            <div class="room-price">สำหรับ แขกที่เข้าพัก 2 คน</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="section3" class="container-fluid row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-1"></div>
    <div class="col-md-3"> </div>
    <div class="col-md-3"></div>


  </div>

  <footer class="container-fluid text-center">
    <p>Apartment © Brand 2021</p>
  </footer>



</body>