<header>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap" rel="stylesheet">
  <style>
    h1 {
      font-family: 'Kanit', sans-serif;
    }

    h2 {
      font-family: 'Kanit', sans-serif;
    }

    h4 {
      font-family: 'Kanit', sans-serif;
    }

    p {
      font-family: 'Kanit', sans-serif;
    }
  </style>
</header>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image/2.jpg" alt="Los Angeles" width="1550" height="400">
    </div>
    <div class="carousel-item">
      <img src="assets/image/1.jpg" alt="Chicago" width="1550" height="400">
    </div>
    <div class="carousel-item">
      <img src="assets/image/3.jpg" alt="New York" width="1550" height="400">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>

<div class="container">
  <h4>ห้องพัดลม</h4><br>
  <div class="lightbox">
    <div class="row text-center">
      <div class="col-lg-6">
        <img
          src="https://www.prakardproperty.com/uploads/properties/602991/lowres/1569954687c84dbb639b47725b1a60f538f759b5e9_15699546876064.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Lightbox image 1"
          class="w-80 mb-2 mb-md-4 shadow-1-strong rounded" />
        <img
          src="https://www.prakardproperty.com/uploads/properties/602991/lowres/15699546834efb1b1f5fdf3fc18c68691d140961f9_15699546835539.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg" alt="Lightbox image 2"
          class="w-80 shadow-1-strong rounded" />
      </div>
      <div class="col-lg-6">
        <img
          src="https://www.prakardproperty.com/uploads/properties/602991/lowres/15699546797659003419458d3b107edfc590bdba85_15699546795047.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg" alt="Lightbox image 3"
          class="w-80 mb-2 mb-md-4 shadow-1-strong rounded" />
        <img
          src="https://www.prakardproperty.com/uploads/properties/602991/lowres/1569954703c74352ad140e88c67651298819878a03_15699547038883.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg" alt="Lightbox image 3"
          class="w-80 shadow-1-strong rounded" />
      </div>
    </div>
  </div><br>
</div>
<div class="container">
  <h4>ห้องแอร์</h4>
  <div class="lightbox">
    <div class="row text-center">
      <div class="col-lg-6">
        <img src="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_gb71620389720.jpg"
          data-mdb-img="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_gb71620389720.jpg"
          alt="Lightbox image 1" class="w-50 mb-2 mb-md-4 shadow-1-strong rounded" />
        <img src="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_acu1620389720.jpg"
          data-mdb-img="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_acu1620389720.jpg" alt="Lightbox image 2"
          class="w-50 shadow-1-strong rounded" />
      </div>
      <div class="col-lg-6">
        <img src="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_0uk1620389720.jpg"
          data-mdb-img="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_0uk1620389720.jpg" alt="Lightbox image 3"
          class="w-50 mb-2 mb-md-4 shadow-1-strong rounded" />
        <img src="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_gb71620389720.jpg"
          data-mdb-img="https://www.aecmarketinghome.com/uploads/houses/2021/05/07/thumb_gb71620389720.jpg" alt="Lightbox image 3"
          class="w-50 shadow-1-strong rounded" />
      </div>
    </div>
  </div>
</div>