<div class="container p-4" style="background-color: #ffe7b3; min-height: 591px;">
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom text-dark">
      <h3>จัดการข้อมูลการชำระเงิน</h3>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                  << ย้อนกลับ</button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-sm btn-outline-info" >รีโหลด</button>
          </div>
      </div>
  </div>

  <!-- queue number -->
  <div class="con-dataqueue">
      <div class="card shadow topbar static-top">
          <div class="card-body text-dark">
              <div class="row justify-content-end" style="padding-bottom: 15px;">
                  <div class="col-md-2">
                      <form action="">
                          <div class="form-group">
                              <label class="">
                                  <input type="search" name="searchText" class="form-control form-control-sm" aria-controls="Searchdata"
                                      placeholder="Search"  />
                              </label>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="dataTable table-responsive">
                  <div class="dataTable">
                      <table class="table table-hover   text-center">
                          <thead>
                              <tr>
                                  <th>ลำดับ</th>
                                  <th scope="col-md-10">เลขที่ใบสั่งยา</th>
                                  <th class="col-md-3" scope="col">ชื่อ - สกุล</th>
                                  <th scope="col-md-1">ยอดชำระ</th>
                                  <th scope="col-md-2">สลิปค่ารักษา</th>
                                  <!-- <th class="col-md-2" scope="col">วันและเวลาที่เข้ารักษา</th> -->
                                  <th scope="col">ดูรายละเอียด</th>
                                  <th scope="col">สถานะการชำระ</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row"></th>
                                  <th></th>
                                  <td></td>
                                  <td></td>
                                  <td class="text-decoration-underline text-primary">
                                      
                                  </td>
                                  <!-- <td>{{item.tmDate}} {{item.tmTime}}</td> -->
                                  <td>
                                      <button type="button" class="btn btn-sm text-white" data-bs-toggle="modal"
                                          data-bs-target="#SelectModal" style="background-color: rgb(0, 137, 191);"
                                         >
                                          <i class="bi bi-eye-fill"
                                              style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                          ดูรายละเอียด
                                      </button>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm text-white"
                                          style="background-color: rgb(0, 191, 0);">
                                          <i class="bi bi-check2-circle"
                                              style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                          ชำระแล้ว
                                      </button>&nbsp;
                                      <button type="button" class="btn btn-sm btn-danger text-white">
                                          <i class="bi bi-x-circle"
                                              style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                          ยังไม่ชำระ
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="d-flex justify-content-center pb-0 mb-0">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <canvas class="my-4 w-100" id="myChart" height="58"></canvas> -->

<!-- Modal -->
<div class="modal fade text-dark" id="SelectModal" tabindex="-1" aria-labelledby="SelectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title fw-bold font-monospace" id="SelectModalLabel">รายละเอียดการชำระเงิน</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-light">
              <form>
                  <div class="card p-3">
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">รหัสผู้ป่วย</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="inputPassword"
                                      formControlName="userHnId" readonly>
                              </div>
                          </div>
                      </div>
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ชื่อ
                                  - สกุล</label>
                              <div class="col-sm-8">
                                  <div class="row">
                                      <div class="input-group">
                                          <input type="text" id="form8Example3" class="form-control border-end-0"
                                              formControlName="userFirstname" readonly>
                                          <input type="text" id="form8Example3" class="form-control border-start-0"
                                              formControlName="userLastname" readonly>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword"
                                  class="col-sm-4 col-form-label fw-bolder">เลขที่ใบสั่งยา</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="inputPassword" formControlName="billId"
                                      readonly>
                              </div>
                          </div>
                      </div>
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ว/ด/ป
                                  ที่รักษา</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="inputPassword" formControlName="tmDate"
                                      readonly>
                              </div>
                          </div>
                      </div>
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ยอดที่ชำระ</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control" id="inputPassword" formControlName="tmMoney"
                                      readonly>
                              </div>
                          </div>
                      </div>
                      <div class="col p-2">
                          <div class="row">
                              <label for="inputPassword"
                                  class="col-sm-4 col-form-label fw-bolder">สลิปค่ารักษา</label>
                              <div class="col-sm-8 text-start px-0">
                                  <button type="button" class="btn btn-link " >
                                      <input type="text" class="form-control-plaintext" id="inputPassword"
                                          formControlName="tmSlip" readonly>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-md-2 pt-3">
                          <button type="button" class="fw-bolder btn btn-warning"
                              data-bs-dismiss="modal">ตกลง</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>