<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">@fat</h4>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
  role="img">
  <h4 id="mdo">@mdo</h4>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">
  <h4 id="one">one</h4>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
  role="img">
  <h4 id="two">two</h4>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
  role="img">
  <h4 id="three">three</h4>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
  role="img">
</div>