
    <header>
      <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
          rel="stylesheet">
      <style>
          h1 {
              font-family: 'Kanit', sans-serif;
          }

          h3 {
              font-family: 'uppercase', sans-serif;
          }

          h4 {
              font-family: 'Kanit', sans-serif;
          }

          h5 {
              font-family: 'Kanit', sans-serif;
          }

          p {
              font-family: 'uppercase', sans-serif;
          }
      </style>
  </header>

  <div id="wrapper_section_middle" class="wrapper">
      <div class="section-full-middle">
          <div class="bg-img">
          <div data-article="" id="article_full_middle"></div>
          <div id="body" class="body-f">

              <div data-spy="scroll" data-target="#myNavbar" data-offset="0">
                  <br>
                  <div class="container">
                      <div class="row">
                          <div class="col">
                              <h3><span>ห้องพัดลม สำหรับ เข้าพักไม่เกิน 2 คน</span></h3>
                              <p>ในแต่ละห้องเราได้เตรียมเตียงที่สะอาดและหลับสบาย พร้อมทั้งเครื่องทำน้ำอุ่น
                                  ฟรีอินเตอร์เน็ต
                                  โทรทัศน์ พัดลม และระเบียง</p>
                          </div>
                      </div>
                  </div>
                  <div id="section1" class=" row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-3">
                          <div class="gallery">
                              <a target="_blank" href="https://www.malizon.com/upload/19256/aZC1mckUzt.jpg">
                                  <img src="https://www.malizon.com/upload/19256/aZC1mckUzt.jpg" alt="Cinque Terre"
                                      width="340" height="255">
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="gallery">
                              <a target="_blank" href="https://www.malizon.com/upload/19256/ICyGjxF7sq.jpg">
                                  <img src="https://www.malizon.com/upload/19256/ICyGjxF7sq.jpg" alt="Cinque Terre"
                                      width="340" height="255">
                              </a>
                          </div>
                      </div>

                  </div>
                  <div id="section1" class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-3">
                          <div class="gallery">
                              <a target="_blank" href="https://www.malizon.com/upload/19256/EM9Hi6OsEI.jpg">
                                  <img src="https://www.malizon.com/upload/19256/EM9Hi6OsEI.jpg" alt="Cinque Terre"
                                      width="340" height="255">
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="gallery">
                              <a target="_blank" href="https://www.malizon.com/upload/19256/3okAiMVmkC.jpg">
                                  <img src="https://www.malizon.com/upload/19256/3okAiMVmkC.jpg" alt="Cinque Terre"
                                      width="340" height="255">
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
          <footer class="container-fluid text-center">
              <p>Apartment © Brand 2021</p>
          </footer>
     
  </div>
