<div class="container ">
    <br>
    <div class="box-card mb-4 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading">
                    <div class="col-12">
                        <h3><strong>แก้ไขข้อมูลสัญญาเช่า</strong></h3>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>

                </div>
            </div>
        </div>
        <form [formGroup]=" barangForm" class="card-body " autocomplete="off">
            <div class="form-group row content">
                <div class="col-lg-2">
                    <label>เลขห้อง</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="roomflow" required />
                    </div>
                </div>
                <div class="col-lg-7"></div>               
                    <div class="col-lg-3">
                        <p>เลขสัญญาเช่า : XXXXXXXXXXXXX</p>
                    </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>คำนำหน้า</label>
                    <div>
                        <input type="text" readonly class="form-control "id="staticDate" formControlName="usertitle" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>ชื่อ</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="username" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>นามสกุล</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="userlassname" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>เลขบัตรประชาชน</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="usercardid" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>วัน/เดือน/ปีเกิด</label>
                    <div >
                        <input type="text" readonly class="form-control " formControlName="userbirthday" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เพศ</label>
                    <div >
                        <input type="text" readonly class="form-control "formControlName="usergender" required />
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>เบอร์โทร</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="userphone" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-6">
                    <label>E-mail</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="useremail" required />
                    </div>

                </div>

            </div>
            <div class="form-group row content">
                <div class="col-lg-6 ">
                    <label>ที่อยู่</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="useraddress" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>ตำบล</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="Districtid" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>อำเภอ</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="Amphurid" required />
                    </div>

                </div>
               
            </div>
            <div class="form-group row content">
                <div class="col-lg-3">
                    <label>จังหวัด</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="Provinceid" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>รหัสไปรษณีย์</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="zipcode" required />
                    </div>

                </div>

            </div>
            <br>
           
            <div class="form-group row content">
                <div class="col-lg-2">
                    <label>ห้องพัก</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="roomflow" required />
    
                    </div>

                </div>

                <div class="col-lg-2">
                    <label>ประเภทห้อง</label>
                    <div>
                        <input type="text" readonly class="form-control" formControlName="roomtypename" required />                                              
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>ราคาห้อง</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="roomprice" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>วันที่เข้าพัก</label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentstart">
                        <span id="error_dob" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>วันที่สิ้นสุด</label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentend">
                        <span id="error_dob" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="form-group row content">
                <div class="col-lg-3">
                    <label>ค่าน้ำต่อหน่วย</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="rentwa" required />
                    </div>

                </div>

                <div class="col-lg-3">
                    <label>ค่าไฟต่อหน่วย</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="rentli" required />
                    </div>

                </div>


                <div class="col-lg-2">
                    <label>ค่าประกันห้อง</label>
                    <div>
                        <input type="text" readonly class="form-control " formControlName="rentinsurance"
                            required />
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>ค่าส่วนกลาง</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="rentother" required />
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>รวมค่าใช้จ่าย</label>
                    <div>
                        <input type="text" readonly class="form-control  " formControlName="renttotalprice"
                            required />
                    </div>

                </div>


            </div><br>
            <div style="text-align: center;">
                <button type="button" class="btn btn-info btn-lg" (click)="save()">บันทึก</button>&nbsp;
                <button type="button" class="btn btn-info btn-lg">ปริ้นสัญญา</button>&nbsp;
                <button type="button" class="btn btn-info btn-lg" routerLink="../barangsewa">ย้อนกลับ</button>
                
               
            </div>
        </form>
    </div>

</div>