<body>
  <header>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
      rel="stylesheet">
    <style>
      h1 {
        font-family: 'Kanit', sans-serif;
      }

      h2 {
        font-family: 'Kanit', sans-serif;
      }

      h4 {
        font-family: 'Kanit', sans-serif;
      }

      p {
        font-family: 'Kanit', sans-serif;
      }
    </style>
  </header>
</body>
<div class=" p-md-5 text-white text-center bg-image" style="
background-image: url('https://www.malizon.com/upload/19256/aer8he1Ade.jpg');
height: 100vh;">
  <div class="col-md-5 p-lg-5 mx-0 my-5">
    <h1 class=" fw-bold ">Welcome</h1>
    <h4 class="lead fw-normal"> Management System of Apartment Online </h4>
    <h4 class=" fw-normal ">การพัฒนาระบบอพาร์ตเมนต์ออนไลน์</h4>
  </div>
</div>
<div data-spy="scroll" data-target="#myNavbar" data-offset="0">
  <!-- Container (About Section) -->
  <div id="section1" class="container-fluid row">

    <div class="col-sm-7">
      <h2>Apartment</h2><br>
      <h4>อพาร์ตเมนต์ให้เช่ารายเดือนเปิดใหม่ ขนาดเล็ก เพียง 46 ห้อง <br> ครบครันทั้งเฟอร์นิเจอร์บิวอินน์ แอร์ น้ำอุ่น
        ตู้เย็น
        พร้อมที่จอดรถ<br> ตั้งอยู่กลางใจเมืองห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม.</h4><br>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">
    </div>

  </div>
</div>
<div class="container-fluid row">
  <div class="row">
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">
    </div>
    <div class="col-sm-7">
      <h2>ห้องเเอร์</h2><br>
      <h4> ค่าเช่า : 3000 บาท/เดือน<br>
        เงินมัดจำ : 1000 บาท<br>
        ค่าน้ำ : 150/คน<br>
        ค่าไฟ : 8 บาท/หน่วย<br>
        จ่ายล่วงหน้า : 1 เดือน<br>
        อินเตอร์เน็ต : ฟรี
      </h4><br>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="section2" class="container-fluid row">

  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <h2>ห้องพัดลม</h2><br>
    <h4>ห้องพัดลม : 2500 บาท/เดือน<br>
      เงินมัดจำ : 1000 บาท<br>
      ค่าน้ำ : 150/คน<br>
      ค่าไฟ : 8 บาท/หน่วย<br>
      จ่ายล่วงหน้า : 1 เดือน<br>
      อินเตอร์เน็ต : ฟรี</h4>
    <br>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
      role="img">
  </div>

</div>


<!-- Container (Portfolio Section) -->
<div id="section3" class="container-fluid bg-grey row">

  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
      role="img">
  </div>
  <div class="col-sm-7">
    <h2>สถานที่ใกล้เคียง</h2><br>
    <h4>ตั้งอยู่กลางใจเมือง ห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม. สามารถทะลุออกถนนหลังเมืองได้
      อยู่กึ่งกลางสวนสาธารณะ
      2 แห่ง คือ บึงทุ่งสร้าง และ บึงแก่นนคร ใกล้ศูนย์ราชการ ตลาดนัดถนนคนเดิน โรงพยาบาลศูนย์ขอนแก่น ตลาดโต้รุ่ง
      มีรถประจำทางผ่านหลายสาย หน้าปากทางเป็นจุดจอดรถรับส่งบขส
    </h4><br>
  </div>

</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>รูปภาพ</h2>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
      class="img-fluid">
  </div>

</div>

<!-- Container (Contact Section) -->
<div id="section4"class="container-fluid bg-grey">
  <h2 class="text-center">ติดต่อ</h2><br>
  <div class="row">
    <div class="col-sm-5">
      <p>อพาร์ตเมนต์ออนไลน์ ติดต่อได้ 24 ชม.</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
        </svg> จังหวัดมหาสารคาม</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone"
          viewBox="0 0 16 16">
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
          </path>
        </svg> +66 0981401327</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill"
          viewBox="0 0 16 16">
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z">
          </path>
        </svg> Beamlove3477@gmail.com</p>
    </div>
    <div class="col-sm-7 ">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control " id="name" name="name" placeholder="Name" type="text" required />
        </div>
        <div class="col-sm-6 ">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row text-center">
        <div class="col-sm-12 ">
          <button class="btn btn-warning pull-right" type="submit">ส่ง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#home" title="To Top">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="darkColor" class="bi bi-chevron-up "
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z">
      </path>
    </svg>
  </a>
  <p></p>
  <p>Apartment © Brand 2021</p>
</footer>
<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[ href='#home']").on('click', function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });

    $(window).scroll(function () {
      $(".slideanim").each(function () {
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
      });
    });
  })
</script>