<body>
  <header>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
      rel="stylesheet">
    <style>
      h1 {
        font-family: 'Kanit', sans-serif;
      }

      h2 {
        font-family: 'uppercase', sans-serif;
      }

      h4 {
        font-family: 'Kanit', sans-serif;
      }

      h5 {
        font-family: 'uppercase', sans-serif;
      }

      p {
        font-family: 'Kanit', sans-serif;
      }
    </style>
  </header>

  <div class=" p-md-5 text-white text-center bg-image" style="
background-image: url('https://www.malizon.com/upload/19256/aer8he1Ade.jpg');
height: 100vh;">
    <div class="col-md-5 p-lg-5 mx-0 my-5">
      <h1 class=" fw-bold ">Welcome</h1>
      <h4 class="lead fw-normal"> Management System of Apartment Online </h4>
      <h4 class=" fw-normal ">การพัฒนาระบบอพาร์ตเมนต์ออนไลน์</h4>
    </div>
  </div>
  <div data-spy="scroll" data-target="#myNavbar" data-offset="0">
    <br>
    <!-- Container (About Section) -->
    <div id="section1" class="container-fluid row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <h2>ห้องพักเรามี 2 ประเภท</h2><br>
        <h5>ในแต่ละห้องเราได้เตรียมเตียงที่สะอาดและหลับสบาย<br>
          พร้อมทั้งเครื่องทำน้ำอุ่น ฟรีอินเตอร์เน็ต โทรทัศน์ <br>
          พัดลม เครื่องปรับอากาศ และระเบียง</h5><br>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-md-3">
        <div class="roombox">
          <div class="room-img"><a href="home/page3" target="_self"><img
                src="https://www.malizon.com/upload/19256/HOo91wMoYv.jpg" alt=" " /></a></div>
          <div class="room-detail">
            <h3><a href="home/page2" target="_self">ห้องแอร์</a></h3>
            <div class="room-price">สำหรับ แขกที่เข้าพัก 2 คน</div>
          </div>
        </div>
      </div>
    
      <div class="col-md-3">
        <div class="roombox">
          <div class="room-img"><a href="home/test" target="_self"><img
                src="https://www.malizon.com/upload/19256/Rji0vS5Q37.jpg" alt=" " /></a></div>
          <div class="room-detail">
            <h3><a href="home/page2" target="_self">ห้องพัดลม</a></h3>
            <div class="room-price">สำหรับ แขกที่เข้าพัก 2 คน</div>
          </div>
        </div>
      </div>
    
  </div>
  </div>

  <div id="section2" class="container-fluid row">
    <div id="section2" class="container-fluid row">
      <div class="col-sm-1"></div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="https://www.malizon.com/upload/19256/7eLjVnH305.jpg" role="img">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <h2>เกี่ยวกับเรา</h2><br>
        <h5> มะลิซ้อน เรสซิเด้นส์ เป็นอพาร์ตเมนต์ภายใต้คอนเซปต์ของเอกลักษณ์ของดอกมะลิซ้อน
          ซึ่งเป็นดอกไม้ที่สวยงาม <br>กลีบดอกขาวสะอาด ใบสีเขียวสด และกลิ่มอันหอมหวนชื่นใจเมื่อได้สูดดม
          เราหวังจะตอนร้บเเขกของเราด้วยความรู้สึกสดชื่น <br> ผ่อนคลาย สะอาด และสะดวกสบาย
          เปรียบเสมือน <br>เมื่อเรานึกถึงหรือสูดดมดอกมะลิซ้อน ห้องพักของเราเน้นความสะอาด
          มีเครื่องทำน้ำอุ่น อินเตอร์เน็ต WiFi ฟรี พร้อมจอทีวี LCD Digital พัดลม และเครื่องปรับอากาศ <br>
        </h5><br>
      </div>
    </div>
  </div>


  <footer class="container-fluid text-center">
    <p>Apartment © Brand 2021</p>
  </footer>



</body>