<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="card-body justify-content " style="background: rgb(238, 238, 238);">
    <div class="row content">
        <div class="col-2 "></div>
        <div class="col-2 ">
            <h4>บัญชีของฉัน</h4>
            <h1 class="col-lg-0">
                <label>ชื่อผู้ใช้</label>
            </h1>
            <h1 class="col-lg-0">ชื่อ</h1>
            <h1>นามสกุล</h1>
            
        </div>
        <div class="col-6">
            <div class="container shadow-lg bg-light ">
                <h4>บัญชีของฉัน</h4>
                
            </div>
        </div>
        
    </div>
    
  
</div>