<div class="container card ">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>จัดการข้อมูลผู้เช่า</h3>
  </div>


  <div class=" d-flex justify-content-between flex-wrap flex-md-nowrap pt-5 pb-2 mb-3 ">
    <form class="form-inline ">
      <input class="form-control mr-sm-2  " type="search" placeholder="Search" aria-label="Search">
      <button class="nav-link btn btn-success c my-2 my-sm-0" type="submit" routerLink="">Search</button>
    </form>
    <button type="button" class="btnSubmit " routerLink="../register">เพิ่มผู้ใช้งาน</button>
  </div>
  <br>

  <table class="table text-center table ">
    <thead>
      <tr>
        <th scope="col ">หมายเลขห้อง</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">นามสกุล</th>
        <th scope="col">เบอร์ติดต่อ</th>
        <th scope="col">อีเมล์</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listUser">
        <th scope="row">A101</th>
        <td>{{data.userName}}<i class="fa fa-archive-fill"></i></td>
        <td>{{data.userLasname}}</td>
        <td>{{data.userPhone}}</td>
        <td>{{data.userEmail}} </td>
        <td><button type="button" class="btn btn-danger  " routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg> ลบ
          </button>&nbsp;
          <button type="button" class="btn btn-warning " [routerLink]="['../edituser', data.userId]">
            เเก้ไข</button>
        </td>
      </tr>

    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</div>