<div class="container shadow-lg ">
  <br>
  <div class="box-card mb-4 heading border-bottom">
    <div class="col-11">
      <h5><strong>ประวัติการชำระ</strong></h5>
    </div>
  </div>
  <form [formGroup]="paymentForm" class="card-body " autocomplete="off">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-3">
          <label class="col-form-label">ชื่อผู้ใช้งาน : {{taxInfo.userName}} {{taxInfo.userLasname}}</label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-3">
          <label class="col-form-label">เลขห้อง : {{taxInfo.roomId}}</label>
        </div>
      </div>
    </div>
  </form>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">วันที่ออกใบเเจ้งหนี้</th>
        <th scope="col">วันที่กำหนดจ่าย</th>
        <th scope="col">สถานะการชำระ</th>
        <th scope="col">รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of displayList;">
        <td *ngIf="data.inStatus == '3'"> <strong>บิลชำระค่าเช่าห้อง</strong> ยอดชำระ : {{data.inTotal}} บาท</td>
        <td *ngIf="data.inStatus == '3'">{{data.inStart}}</td>
        <td *ngIf="data.inStatus == '3'">{{data.inEnd}}</td>
        <td *ngIf="data.inStatus == '3'">
          <span  *ngIf="data.inStatus == '3'" class="badge badge-pill badge-success"> {{data.inStatus == '1'? 'ค้างชำระ':(data.inStatus == '2'? 'รอยืนยัน': 'ชำระเเล้ว')
          }}</span>
        </td>
        <td *ngIf="data.inStatus == '3'">
          <button class="btn-primary btn" type="button" (click)="gotoBill(data)">รายละเอียด</button>
        </td>
      </tr>
    </tbody>
  </table>