<div class="container shadow-lg ">
    <br>
        <div class="box-card mb-4  heading border-bottom">
            <div class="col-11">
                <h5><strong>ประวัติการชำระ</strong></h5>
            </div>
        </div>
        <div class="row justify-content-end m-0">
            <div class="col-md-auto col-sm-2">
              <p>ชื่อผู้เช่า : </p>
              <p>เลขห้อง : </p>
            </div>
           
          </div><br>

        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">วันที่ชำระ</th>
                <th scope="col">เดือน</th>
                <th scope="col">รายละเอียด</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listInvoice">
                <th scope="row">{{data.inId}}</th>
                <td>{{data.inStart}}</td>
                <td>{{data.inEnd}}</td>
                <td>
                    <button class="btn-primary btn" type="button">รายละเอียด</button>
                </td>
              </tr>         
            </tbody>
          </table>
</div>c 