<div class="container p-4" style="background-color: #DEF2F1; min-height: 591px;">
  <div class="d-flex justify-content-between flex-wrap  pt-3 pb-2 mb-3 border-bottom">
    <h3>จัดการข้อมูลการชำระเงิน</h3>
  </div>
  <div class="con-dataqueue">
    <div class="card shadow topbar static-top">
      <div class="card-body text-dark">
        <div class="row justify-content-end m-0">
          <div class="col-md-auto col-sm-2">
            <input class="form-control" placeholder="ค้นหา" aria-label="Search">
          </div>
          <div class="col-md-auto col-sm-6">
            <button class="nav-link btn btn-success" type="submit" routerLink="">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg> ค้นหา</button>
          </div>
        </div>
        <br>
        <table class="table text-center table table-hover ">
          <thead class=" table-info">
            <tr>
              <th scope="col">เลขห้อง</th>
              <th scope="col">เลขใบเเจ้งหนี้</th>
              <th scope="col">ชื่อ-สกุล</th>
              <th scope="col">ยอดชำระ</th>
              <th scope="col">สลิปค่าเช่า</th>
              <th scope="col">ดูรายละเอียด</th>
              <th scope="col">สถานะการชำระ</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let data of listpayment | paginate: {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            }">
              <td scope="row" *ngIf="data.invoice.rent.user.role.roleId != 'admin'">{{data.invoice.rent.room.roomId}}
              </td>
              <td *ngIf="data.invoice.rent.user.role.roleId != 'admin'">{{data.invoice.inId}}</td>
              <td *ngIf="data.invoice.rent.user.role.roleId != 'admin'">{{data.invoice.rent.user.userName}}
                {{data.invoice.rent.user.userLasname}}</td>
              <td *ngIf="data.invoice.rent.user.role.roleId != 'admin'">{{data.payTotal}}</td>
              <td class=""><a href="#">ไฟล์รูป</a></td>
              <td> <button type="button" class="btn btn-sm text-white btn-info" data-bs-toggle="modal"
                  data-bs-target="#SelectModal">
                  ดูรายละเอียด</button></td>
              <td class="" *ngIf="data.invoice.rent.user.role.roleId != 'admin'">
                <span  *ngIf="data.invoice.inStatus == '3'" class="badge badge-pill badge-success"> {{data.invoice.inStatus == '1'? 'ค้างชำระ':(data.invoice.inStatus == '2'? 'รอยืนยัน': 'ชำระเเล้ว')
                }}</span>
                <a  *ngIf="data.invoice.inStatus == '2'" href="#"  class="badge badge-pill badge-warning"> {{data.invoice.inStatus == '1'? 'ค้างชำระ':(data.invoice.inStatus == '2'? 'รอยืนยัน': 'ชำระเเล้ว')
                }}</a>
                <a *ngIf="data.invoice.inStatus == '1'" class="badge badge-pill badge-danger">{{data.invoice.inStatus == '1'? 'ค้างชำระ':(data.invoice.inStatus == '2'? 'รอยืนยัน': 'ชำระเเล้ว')
                }}</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center pb-0 mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>