<body>
  <header>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap"
      rel="stylesheet">
    <style>
       h1 {
        font-family: 'Kanit', sans-serif;
      }
      h2 {
        font-family: 'Kanit', sans-serif;
      }

      h4 {
        font-family: 'Kanit', sans-serif;
      }

      p {
        font-family: 'Kanit', sans-serif;
      }
    </style>
  </header>
</body>

<div class=" p-md-5 text-white text-center bg-image"style="
background-image: url('https://www.malizon.com/upload/19256/aer8he1Ade.jpg');
height: 100vh;"
  >
  <div class="col-md-5 p-lg-5 mx-0 my-5">
    <h1 class=" fw-bold ">Welcome</h1>
    <h4 class="lead fw-normal"> Management System of Apartment Online </h4>
    <h4 class=" fw-normal ">การพัฒนาระบบอพาร์ตเมนต์ออนไลน์</h4>
  </div>
  
</div>



<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h2>Apartment</h2><br> 
      <h4>อพาร์ตเมนต์ให้เช่ารายเดือนเปิดใหม่ ขนาดเล็ก เพียง 46 ห้อง <br> ครบครันทั้งเฟอร์นิเจอร์บิวอินน์ แอร์ น้ำอุ่น ตู้เย็น
        พร้อมที่จอดรถ<br>  ตั้งอยู่กลางใจเมืองห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม.</h4><br>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">

    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">

    </div>
    <div class="col-sm-7">
      <h2>สิ่งอำนวยความสะดวก</h2><br>
      <h4>ทุกห้องตกแต่งเฟอร์นิเจอร์ครบพร้อมเข้าอยู่ แอร์ ทีวี พัดลม ตู้เย็น ไมโครเวฟ<br> เครื่องทำน้ำอุ่น
        ส่วนกลางมีระบบรักษาความปลอดภัย 24 ชม คีย์การ์ด<br>
        กล้องวงจรปิด ที่จอดรถ
      </h4><br>

    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="about" class="container-fluid">
  <div class="row ">
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <h2>ประเภทห้องพัก</h2><br>
      <h4>ห้องพัดลม : 2500 บาท/เดือน<br>
        ห้องแอร์ : 3000 บาท/เดือน<br>
        เงินมัดจำ : 1000 บาท<br>
        จ่ายล่วงหน้า : 1 เดือน<br>
        อินเตอร์เน็ต : ฟรี</h4>
      <br>
    
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">

    </div>
  </div>
</div>


<!-- Container (Portfolio Section) -->
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">

    </div>
    <div class="col-sm-7">
      <h2>สถานที่ใกล้เคียง</h2><br>
      <h4>ตั้งอยู่กลางใจเมือง ห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม. สามารถทะลุออกถนนหลังเมืองได้ อยู่กึ่งกลางสวนสาธารณะ
        2 แห่ง คือ บึงทุ่งสร้าง และ บึงแก่นนคร ใกล้ศูนย์ราชการ ตลาดนัดถนนคนเดิน โรงพยาบาลศูนย์ขอนแก่น ตลาดโต้รุ่ง
        มีรถประจำทางผ่านหลายสาย หน้าปากทางเป็นจุดจอดรถรับส่งบขส
      </h4><br>

    </div>
  </div>
</div>



<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>รูปภาพ</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU" class="img-fluid" >
  </div>
  
</div>

<footer class="container-fluid text-center"> 
  <p></p>
  <p>Apartment © Brand 2021</p>
</footer>

<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[ routerLink='home']").on('click', function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });

    $(window).scroll(function () {
      $(".slideanim").each(function () {
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
      });
    });
  })
</script>