<body>
 <header>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,100;1,300&display=swap" rel="stylesheet">
 <style>
  h2 {font-family: 'Kanit', sans-serif; } 
  h3 {font-family: 'Kanit', sans-serif; } 
  p {font-family: 'Kanit', sans-serif; } 
 </style>  
</header>  
</body>

<div class="position-relative overflow-hidden p-md-5 text-white text-center "
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Welcome</h1>
    <h4 class="lead fw-normal"> Management System of Apartment Online </h4>
    <h3 class=" fw-normal ">การพัฒนาระบบอพาร์ตเมนต์ออนไลน์</h3>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container marketing">

  <br><br>



  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">อพาร์ตเมนต์ </h2>
      <h6 class="lead">อพาร์ตเมนต์ให้เช่ารายเดือนเปิดใหม่ ขนาดเล็ก เพียง 46 ห้อง ครบครันทั้งเฟอร์นิเจอร์บิวอินน์ แอร์
        น้ำอุ่น ตู้เย็น พร้อมที่จอดรถ
        ตั้งอยู่กลางใจเมือง <br> ห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม. </h6>

    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-2bpPp2_qPr_AAaE1xJc8-FcDmMrl1GWh9uis0XSIDF6nMNRvn1I7kowoeQzEd9XduT4&usqp=CAU"
        role="img">

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">สิ่งอำนวยความสะดวก</h2>
      <p class="lead">ทุกห้องตกแต่งเฟอร์นิเจอร์ครบพร้อมเข้าอยู่ แอร์ ทีวี พัดลม ตู้เย็น ไมโครเวฟ เครื่องทำน้ำอุ่น
        ส่วนกลางมีระบบรักษาความปลอดภัย 24 ชม คีย์การ์ด <br>กล้องวงจรปิด ที่จอดรถ</p>
      <h2 class="featurette-heading">รายละเอียดการเช่า </h2>
      <p class="lead">รายคาเช่า : 3500 - 5000 บาท/เดือน <br>
        เงินมัดจำ : 2000 บาท <br>
        จ่ายล่วงหน้า : 1 เดือน<br>
        อินเตอร์เน็ต : ฟรี
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="https://cdn.renthub.in.th/images/uploaded/201502/20150210/apartment_pictures/normal/8c1e0e44f24f659432ea595675c9e9a3.jpg?1423572418"
        role="img">

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">สถานที่ใกล้เคียง </h2>
      <p class="lead">ตั้งอยู่กลางใจเมือง ห่างจากถนนใหญ่ (ถ.ประชาสโมสร) เพียง 50 ม. สามารถทะลุออกถนนหลังเมืองได้
        อยู่กึ่งกลางสวนสาธารณะ 2 แห่ง คือ บึงทุ่งสร้าง และ บึงแก่นนคร ใกล้ศูนย์ราชการ ตลาดนัดถนนคนเดิน
        โรงพยาบาลศูนย์ขอนแก่น ตลาดโต้รุ่ง มีรถประจำทางผ่านหลายสาย หน้าปากทางเป็นจุดจอดรถรับส่งบขส
      </p>
    </div>
    <div class="col-md-5">
      <!--Google map-->
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height:500 ;">
        <iframe src="https://maps.google.com/maps?q=khonkan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>

      <!--Google Maps-->


    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
