<div class="container"><br>
  <div class="form-group row">
    <div class="col-12">
      <div class="row heading">
        <div class="col-12">
          <h5><strong>เเจ้งเตือน</strong></h5>
        </div>
        <div class="col-12 px-3">
          <div class="border-bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-card mb-4 ">
    <div *ngFor="let data of listInvoice">
      <div class="alert alert-dark" role="alert" *ngIf="data.inStatus == '1'">
        <h6>บิลชำระค่าเช่า : </h6>  {{data.inStart}}
        <button class="btn-primary btn" type="button">รายละเอียด</button>
      </div>
    </div>

  </div>
</div>