
<nav *ngIf="userType === 'home'" class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" routerLink="">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home/test">ข้อมูลอพาร์ตเมนต์</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">อัลบั้มรูป</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">การเข้าพัก</a>
        </li>
      </ul>

    </div>
    <ul *ngIf="!isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="home/login">เข้าสู่ระบบ</a>
      </li>
    </ul>


    <ul *ngIf="isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">ออกจากระบบ</a>
      </li>
    </ul>
  
  <!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ต้องการออกจากระบบ ใช่ หรือ ไม่ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-danger" (click)="logOut()">ออกจากระบบ</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
</nav>


<nav *ngIf="userType === 'user'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"routerLink="user" >User</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="user/profile">ข้อมูลส่วนตัว</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user/contract">สัญญาเช่า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">ประวัติการชำระ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">เเจ้งเตือน</a>
        </li>
        
      </ul>
    
    </div>
    
    <img src="https://scontent.fnak1-1.fna.fbcdn.net/v/t1.6435-9/134796419_2857991794479185_976748194325910755_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeE0ZvTpt1_tki94B7WaDPSxnv4yU2k0tzSe_jJTaTS3NMx_gDFTkg-70hUnywXDNMjdO9ViL5jGC1n9dk-zIxpq&_nc_ohc=kpIjNNps8vwAX_FArkY&_nc_ht=scontent.fnak1-1.fna&oh=35c0247438d0baf60356269a4b3ec440&oe=60D00F5B" width="40" height="40"  class="rounded-circle">
    
    <ul *ngIf="!isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logOut()">ออกจากระบบ</a>
      </li>
    </ul>
    

    <ul *ngIf="isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">ออกจากระบบ</a>
      </li>
    </ul>
  
  <!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ต้องการออกจากระบบ ใช่ หรือ ไม่ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-danger" (click)="logOut()">ออกจากระบบ</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
</nav>

<nav *ngIf="userType === 'admin'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class=" navbar-brand " routerLink="admin">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           จัดการข้อมูล
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="admin/manage">ข้อมูลสมาชิก</a>
            <a class="dropdown-item" routerLink="admin/room">ข้อมูลห้องพัก</a>
            <a class="dropdown-item" routerLink="admin/barangsewa">สัญญาเช่า</a>
            <a class="dropdown-item" routerLink="admin/reports">ระบบรายงานการชำระ</a>
          </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/model">ข้อมูลอพาร์ตเมนต์</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/alertadmin">เเจ้งเตือน</a>
        </li>
      </ul>
    </div>
    <ul *ngIf="!isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logOut()">ออกจากระบบ</a>
      </li>
    </ul>


    <ul *ngIf="isLogin" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">ออกจากระบบ</a>
      </li>
    </ul>
  
  <!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ต้องการออกจากระบบ ใช่ หรือ ไม่ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-danger" (click)="logOut()">ออกจากระบบ</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal --> 
</nav>



<div class="bottom-2">
  
  <router-outlet></router-outlet>
</div> 
<div class="bottom-2">
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="setHome()">HOME</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="setAdmin()">ADMIN</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="setUser()">USER</button>

 

     
</div>