<div class="container card ">
    <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>จัดการข้อมูลห้องเช่า</h3>
    <button type="button" class="btnSubmit " routerLink="../regisroom">เพิ่มข้อมูลห้องพัก</button> 
    </div>

<br> 

<table class="table text-center table-bordered  ">
    <thead >
      <tr>
        <th scope="col">หมายเลขห้อง</th>
        <th scope="col">ประเภทห้อง</th>
        <th scope="col">สถานะ</th>
        <th scope="col"></th>
      </tr>
</thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><button type="button" class="btn btn-sm btn-outline-success" routerLink="../roomedit">แก้ไขห้อง</button> </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><button type="button" class="btn btn-sm btn-outline-success" routerLink="../roomedit">แก้ไขห้อง</button> </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td><button type="button" class="btn btn-sm btn-outline-success" routerLink="../roomedit">แก้ไขห้อง</button> </td>
      </tr>
    </tbody>
  </table>
  
</div>           