<div class="container ">
    <!-- Register -->
    <br>
    <div class="box-card mb-4 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading">
                    <div class="col-12">
                        <h3><strong>เเก้ไขข้อมูล</strong></h3>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-8 ">
        <form class="card-body " autocomplete="off">
            <div class="form-group row content ">       
                <div class="col-lg-3">
                    <label>หมายเลขห้อง</label>
                    <div class="form-group">
                        <input type="text" readonly class="form-control" id="staticDate"
                            value="A103">
                    </div>
                </div>
            </div>
            <div class="form-group row content">
               
                <div class="col-lg-6">
                    <label>Username</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="A103" required />
                    </div>

                </div>
                <div class="col-lg-6">
                    <label>Password</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="8888" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">

                <div class="col-lg-6">
                    <label>ชื่อ</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="รัตนาวดี" required />
                    </div>

                </div>
                <div class="col-lg-6">
                    <label>นามสกุล</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="ศรีคำ" required />
                    </div>

                </div>
            
            </div>
            <div class="form-group row content"> 
                <div class="col-lg-6">
                    <label>เบอร์โทร</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="0981401327" required />
                    </div>

                </div>  
                           
                <div class="col-lg-6">
                    <label>E-mail</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="beamlove3477@gmail.com" required />
                    </div>

                </div>

            </div><br>
            <div style="text-align: center;">
                <button type="submit" class="btnSubmit">บันทึก</button>&nbsp;
                <button type="reset" class="btnSubmit">ล้างข้อมูล</button>&nbsp;
                <button type="button" class="btnSubmit" routerLink="../manage">ย้อนกลับ</button>
            </div>
        </form>
    </div>
    </div>
</div>