<div class="container ">
    <!-- Register -->
    <br>
    <div class="box-card mb-4 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading">
                    <div class="col-12">
                        <h3><strong>เเก้ไขข้อมูล</strong></h3>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-8 ">
        <form [formGroup]="edituserForm" class="card-body " autocomplete="off">
            <div class="form-group row content ">       
                <div class="col-lg-3">
                    <label>หมายเลขห้อง</label>
                    <div class="form-group">
                        <input type="text" readonly class="form-control" id="staticDate"
                            value="A103">
                    </div>
                </div>
            </div>
            <div class="form-group row content">
               
                <div class="col-lg-6">
                    <label>ชื่อใช้งาน</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="A103"  formControlName="user_username" required />
                    </div>

                </div>
                <div class="col-lg-6">
                    <label>รหัสผู้ใช้งาน</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="8888" formControlName="user_password" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">

                <div class="col-lg-4">
                    <label>คำนำหน้า</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="รัตนาวดี"formControlName="user_title" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>ชื่อ</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="ศรีคำ"formControlName="user_name" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>นามสกุล</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="ศรีคำ"formControlName="user_lassname" required />
                    </div>

                </div>
            
            </div>
            <div class="form-group row content">

                <div class="col-lg-4">
                    <label>เลขบัตรประชาชน</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="รัตนาวดี" formControlName="user_card_id" required />
                    </div>

                </div>
                
                <div class="col-lg-4">
                    <label>วัน/เดือน/ปีเกิด</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="ศรีคำ" formControlName="user_birthday" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>เพศ</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="ศรีคำ" formControlName="user_gender" required />
                    </div>

                </div>
            
            </div>
            <div class="form-group row content"> 
                <div class="col-lg-4">
                    <label>เบอร์โทร</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="0981401327"formControlName="user_phone" required />
                    </div>

                </div> 
                <div class="col-lg-4">
                    <label>อีเมล</label>
                    <div>
                        <input type="text" class="form-control input-inline"value="0981401327"formControlName="user_email" required />
                    </div>

                </div>  
                           
            </div><br>
            <div class="form-group row content">
                <div class="col-lg-3 ">
                    <label>ที่อยู่</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="user_address" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>ตำบล</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="District_id"required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>อำเภอ</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="Amphur_id" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>จังหวัด</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="Province_id"required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-3">
                    <label>รหัสไปรษณีย์</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="zip_code" required />
                    </div>

                </div>

            </div>
            <div style="text-align: center;">
                <button type="submit" class="btnSubmit" (click)="save()">บันทึก</button>&nbsp;
                <button type="reset" class="btnSubmit">ล้างข้อมูล</button>&nbsp;
                <button type="button" class="btnSubmit" routerLink="../manage">ย้อนกลับ</button>
            </div>
        </form>
    </div>
    </div>
</div>