<div class="container bg-white shadow-lg">
    <!-- Register -->
    <br>
    <div class="box-card mb-4 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading ">
                    <div class="col-12">
                        <h4><strong>เพิ่มข้อมูลผู้เช่า</strong></h4>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-inline">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <input class="form-control mr-sm-2" placeholder="ค้นหา" aria-label="Search">
            <button class="nav-link btn btn-success" type="submit" routerLink="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg> ค้นหา</button>
        </form>
        <form [formGroup]="registerForm" autocomplete="off" id="myForm" class="card-body needs-validation" novalidate>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>รหัสผู้เช่า</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-inline" placeholder="รหัสผู้เช่า"
                            aria-describedby="button-addon2" formControlName="userId" required />
                    </div>
                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>คำนำหน้า<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select id="inputState" class="form-control input-inline" aria-describedby="button-addon2"
                            formControlName="userTitle">
                            <option value="" disabled>--เลือกคำนำหน้า--</option>
                            <option *ngFor="let prf of  userTitle" [ngValue]="prf">{{ prf }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>ชื่อ</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" formControlName="userName" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>นามสกุล</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" formControlName="userLasname" required />
                    </div>
                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>เลขบัตรประชาชน<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="tel" class="form-control input-inline" id="inputIdcard" name="Idcard"
                            placeholder="เลขบัตรประชาชน" pattern="\d{13}" formControlName="userIdcard" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>วัน/เดือน/ปีเกิด<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="userBirthday">
                        <span id="error_dob" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เพศ<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select id="inputState" class="form-control input-inline " formControlName="userGender">
                            <option value="" disabled>--เลือกเพศ--</option>
                            <option *ngFor="let prf of userGender" [ngValue]="prf">{{ prf }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เบอร์โทร<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="tel" class="form-control input-inline" id="inputPhone" name="phone"
                            placeholder="เบอร์โทร" pattern="\d{10}" formControlName="userPhone" required />
                    </div>
                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-6">
                    <label>E-mail<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="email" class="form-control input-inline" id="inputEmail" name="email"
                            placeholder="อีเมล" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            formControlName="userEmail" required />
                    </div>
                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-6 ">
                    <label>ที่อยู่</label>
                    <div class="form-group">
                        <textarea type="text" class="form-control input-inline "
                            formControlName="userAddress"></textarea>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>ตำบล</label>
                    <div class="form-group">
                        <select id="inputState" class="form-control" formControlName="district">
                            <option value="" disabled>--ตำบล--</option>
                            <option *ngFor="let dsNT of Districts" [ngValue]="dsNT.districtNameTh">
                                {{dsNT.districtNameTh}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>อำเภอ</label>
                    <div class="form-group">
                        <select id="inputState" class="form-control" formControlName="amphur">
                            <option value="" disabled>--อำเภอ--</option>
                            <option *ngFor="let amp of Amphurs" [ngValue]="amp.amphurNameTh">{{ amp.amphurNameTh }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group row content">
                <div class="col-lg-3">
                    <label>จังหวัด</label>
                    <div class="form-group">
                        <select id="inputState" class="form-control" formControlName="province">
                            <option value="" disabled>--จังหวัด--</option>
                            <option *ngFor="let pro of Provinces" [ngValue]="pro.provinceNameTh">{{ pro.provinceNameTh
                                }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>รหัสไปรษณีย์</label>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="autoSizingInputGroup" (change)="userZipCode($event)"
                            formControlName="zipCode">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row content">
                <div class="col-lg-2">
                    <label>ประเภทห้องพัก<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select id="inputState" class="form-control input-inline " formControlName="roomTypename"
                            (ngModelChange)="selectType($event)">
                            <option value="" disabled>--ประเภทห้อง--</option>
                            <option *ngFor="let prf of roomTypename" [ngValue]="prf">{{ prf }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เลขห้อง<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select id="inputState" class="form-control" formControlName="roomId"
                            (ngModelChange)="selectPrice($event);selectLight($event);selectWater($event)">
                            <option value="" disabled>--เลขห้อง--</option>
                            <option *ngFor="let data of roomId" [value]="data.roomId">{{data.roomId}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-2">
                    <label>ราคาห้อง<span class="text-danger">*</span></label>
                    <div class="form-group form-control input-inline">
                        <option *ngFor="let data of roomPrice" [value]="data.roomPrice">{{data.roomPrice}}</option>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>วันที่เข้าพัก<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentStart">
                        <span id="error_dob" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>วันที่สิ้นสุด</label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentEnd">
                        <span id="error_dob" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-2">
                    <label>ค่าน้ำต่อหน่วย</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline " formControlName="rentWa" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ค่าไฟต่อหน่วย</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline " formControlName="rentLi" required />
                    </div>
                </div>

                <div class="col-lg-2">
                    <label>ค่าประกันห้อง</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline " formControlName="rentInsurance"
                            required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ค่าส่วนกลาง</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline " formControlName="rentOther" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>รวมค่าใช้จ่าย</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline " formControlName="rentTotalprice"
                            required />
                    </div>
                </div>
            </div><br>
            <div style="text-align: center;">
                <button type="button" class="btn btn-info btn-lg" (click)="back()">ย้อนกลับ</button>&nbsp;
                <button type="button" class="btn btn-info btn-lg" (click)="Next()">บันทึก</button>
            </div>
        </form>
    </div>

</div>