<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>เพิ่มข้อมูลผู้ใช้งาน</h3>
      
    </div>

    <!-- content -->
   
    <div class="card   ">
        <div class="card-body ">
            
            <form class="row g-3 " autocomplete="off">
                <div class="container " >
                <div class="form-group" >
                    <div class="row"> 
                        
                        <label  class="col-md-0 control-label">คำนำ</label>   
                        <div class="form-group ">                                                                
                          <div class="col-sm-10 ">                                  
                                <select id="country" class="form-control" >
                                    <option >-------</option>
                                    <option>นาย</option>
                                    <option>นาง</option>
                                    <option>นางสาว</option>
                                </select>
                            </div>
                        </div> 
                        <label  class="col-md-0 control-label">ชื่อ</label>      
                        <div class="col-md-5">                                   
                            <div class="form-group">                                      
                                <input type="text" class="form-control"  placeholder="กรอกชื่อ " value=""/>
                            </div>
                        </div>
                        <label  class="col-md-0 control-label">นามสกุล</label>   
                        <div class="col-md-4">
                            <div class="form-group">                                       
                               <input type="text" class="form-control "  placeholder="กรอกนามสกุล " value=""/>
                            </div>
                        </div>
                    </div>

                        <div class="row"> 
                            <label  class="col-md-0 control-label">เลขบัตรประชาชน</label>   
                            <div class="col-md-4">
                                <div class="form-group">                                      
                                    <input type="text" class="form-control"  placeholder="เลขบัตรประชาชน" value=""/>
                                </div>
                            </div>     
                        <label  class="col-md-0 control-label">เพศ</label>   
                        <div class="form-group ">                                                                
                            <div class="col-sm-20 ">                                  
                                  <select id="country" class="form-control" >
                                      <option >-------</option>
                                      <option>ชาย</option>
                                      <option>หญิง</option>                         
                                  </select>
                              </div>
                          </div>                               
                        </div>
                        
                        <div class="row "> 
                            <label  class="col-md-0 control-label">วัน/เดือน/ปี</label>   
                            <div class="col-md-3">
                                <div class="form-group">                                      
                                    <input type="date" name="dob" id="dob" class="form-control">
                                    <span id="error_dob" class="text-danger"></span>
                                </div>
                            </div> 
                            <label  class="col-md-0 control-label">อายุ</label>   
                        <div class="col-md-1">
                            <div class="form-group">                                      
                                <input type="text" class="form-control"  placeholder="อายุ" value=""/>
                            </div>
                        </div>                                                                            
                            <label  class="col-md-0 control-label">เบอร์โทร</label> 
                            <div class="col-md-2">
                            <div class="form-group">                                      
                              <input type="text" class="form-control"  placeholder="เบอร์โทร" value=""/>
                          </div> </div>                                                      
                            <label  class="col-md-0 control-label">อีเมล</label>   
                            <div class="col-md-3">                            
                            <div class="form-group">                                      
                                <input type="text" class="form-control"  placeholder="อีเมล" value=""/>
                            </div></div></div>

                            
                         
                       <br>
                    <div style="text-align: center;">
                    <button type="submit"  class="btnSubmit">บันทึก</button>&nbsp;
                    <button type="reset" class="btnSubmit">ล้างข้อมูล</button>&nbsp;
                    <button type="button" class="btnSubmit" routerLink="../manage">ย้อนกลับ</button>
                </div>
                
                </div>
               </div>
                </form>
            
        </div>
    </div>
    <br>
    <!-- end content -->

</div>