<div class="container bg-white shadow-lg">
    <!-- Register -->
    <br>
    <div class="box-card mb-4 ">
        <div class="form-group row">
            <div class="col-12">
                <div class="row heading">
                    <div class="col-12">
                        <h4><strong>เพิ่มข้อมูลผู้เช่า</strong></h4>
                    </div>
                    <div class="col-12 px-3">
                        <div class="border-bottom"></div>
                    </div>

                </div>
            </div>
        </div>
        <form [formGroup]="registerForm" class="card-body  " autocomplete="off">
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>คำนำหน้า</label>
                    <div>
                        <select id="country" class="form-control  " formControlName="usertitle">
                            <option> กรุณาเลือก </option>
                            <option>นาย</option>
                            <option>นาง</option>3
                            <option>นางสาว</option>
                        </select>
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>ชื่อ</label>
                    <div>
                        <input type="text" class="form-control input-inline" formControlName="username" required />
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>นามสกุล</label>
                    <div>
                        <input type="text" class="form-control input-inline" formControlName="userlassname" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-4">
                    <label>เลขบัตรประชาชน<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline" formControlName="usercardid" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>วัน/เดือน/ปีเกิด<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="userbirthday">
                        <span id="error_dob" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เพศ<span class="text-danger">*</span></label>
                    <div class="form-group ">
                        <select id="country" class="form-control" formControlName="usergender">
                            <option> กรุณาเลือก </option>
                            <option>ชาย</option>
                            <option>หญิง</option>
                        </select>
                    </div>

                </div>

                <div class="col-lg-2">
                    <label>เบอร์โทร<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="userphone" required />
                    </div>

                </div>
            </div>
            <div class="form-group row content">
                <div class="col-lg-6">
                    <label>E-mail<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="useremail" required />
                    </div>

                </div>

            </div>
            <div class="form-group row content">
                <div class="col-lg-6 ">
                    <label>ที่อยู่</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="useraddress" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>จังหวัด<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="Provinceid">
                        <option>Default select</option>
                    </select>


                </div>
                <div class="col-lg-3">
                    <label>อำเภอ<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="Amphurid">
                        <option>Default select</option>
                    </select>

                </div>



            </div>
            <div class="form-group row content">
                <div class="col-lg-3">

                    <label>ตำบล<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="Districtid">
                        <option>Default select</option>
                    </select>


                </div>
                <div class="col-lg-3">
                    <label>รหัสไปรษณีย์<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="zipcode" required />
                    </div>

                </div>

            </div>
            <br>
            <div class="form-group row content">
                <div class="col-lg-2">
                    <label>เลขห้อง<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="roomName" required />
                    </div>

                </div>

                <div class="col-lg-2">
                    <label>ประเภทห้องพัก<span class="text-danger">*</span></label>
                    <div>
                        
                        <div class="form-group ">
                            <select id="country" class="form-control" formControlName="roomtypename">
                                <option> กรุณาเลือก </option>
                                <option>แอร์</option>
                                <option>พัดลม</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="col-lg-2">
                    <label>ราคาห้อง<span class="text-danger">*</span></label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="roomprice" required />
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>วันที่เข้าพัก<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentstart">
                        <span id="error_dob" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-lg-3">
                    <label>วันที่สิ้นสุด</label>
                    <div class="form-group">
                        <input type="date" name="dob" id="dob" class="form-control" formControlName="rentend">
                        <span id="error_dob" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="form-group row content">
                <div class="col-lg-3">
                    <label>ค่าน้ำต่อหน่วย</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="rentwa" required />
                    </div>

                </div>

                <div class="col-lg-3">
                    <label>ค่าไฟต่อหน่วย</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="rentli" required />
                    </div>

                </div>


                <div class="col-lg-2">
                    <label>ค่าประกันห้อง</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="rentinsurance"
                            required />
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>ค่าส่วนกลาง</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="rentother" required />
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>รวมค่าใช้จ่าย</label>
                    <div>
                        <input type="text" class="form-control input-inline " formControlName="renttotalprice"
                            required />
                    </div>

                </div>


            </div><br>
            <div style="text-align: center;">
                <button type="button" class="btn btn-info btn-lg" routerLink="../manage">ย้อนกลับ</button>&nbsp;
                <button type="button" class="btn btn-info btn-lg" (click)="save()">ถัดไป </button>
            </div>
        </form>
    </div>

</div>