<div class="container card"> <br>
      <div class=" text-center">
        <h4>ใบกรอกค่าเช่า</h4>
      </div><br>
    
      <div class="box-card mb-4 ">
        <form class="card-body " autocomplete="off">
            
          <div class="form-group row content">
            <div class="col-lg-4">
                <h6>หมายเลขเเจ้งหนี้ : XXXXXXXXXX </h6>
            </div>
            <div class="col-lg-4">
                <h6>หมายเลขห้องพัก :XXXX </h6>

            </div>
            <div class="col-lg-4">
                <h6>ชื่อผู้เช่า :XXXXXXXXX </h6>

            </div>
            <div class="col-lg-4">
                <label>ค่าห้อง</label>
                <div>
                    <input type="text" class="form-control input-inline " required />
                </div>

            </div>
            <div class="col-lg-4">
                <label>มิสเตอร์น้ำตั้งต้น</label>
                <div>
                    <input type="text" class="form-control input-inline " required />
                </div>

            </div>
            <div class="col-lg-4">
                <label>มิสเตอร์น้ำ</label>
                <div>
                    <input type="text" class="form-control input-inline " required />
                </div>

            </div>


            <div class="col-lg-4">
                <label>มิสเตอร์ไฟตั้งต้น</label>
                <div>
                    <input type="text" class="form-control input-inline " required />
                </div>

            </div>
            <div class="col-lg-4">
                <label>มิสเตอร์ไฟ</label>
                <div>
                    <input type="text" class="form-control input-inline " required />
                </div>

            </div>
            <div class="col-lg-4">
                <label>วันออกใบแจ้ง</label>
                <div>
                    <input type="date" class="form-control input-inline " required />
                </div>

            </div>

        </div>


          <div style="text-align: center;">
           

            <!-- Modal -->
            
     
            <button type="button" class="btn btn-info btn-lg">บันทึก</button>&nbsp; 

            <button type="button" class="btn btn-info btn-lg" routerLink="../rental">ย้อนกลับ</button>
        </div>
        </form>
      </div>
</div>
