<div class="container card ">
    <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>สัญญาเช่า</h3>
    </div>
<br> 
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" arelia-lab="Search">    
        <button class="btn btn-outline-success btn-center btn-dark " type="submit" >Search</button>
    </form>
<br> 
<h5 class="text-center">รายการสัญญาเช่า</h5>
<br>
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">หมายเลขห้อง</th>
        <th scope="col">เดือน</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">เบอร์ติดต่อ</th>
        <th scope="col">กำหนดจ่าย</th>
        <th scope="col">สถานะ</th>
      </tr>
</thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
        <td>@mdo</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div>           