<div class="bg-img">
  <div class="container col-md-5">
    <div class="text-center">
      <h5>กรอกข้อมูลติดต่อ</h5>
    </div><br>

    <form [formGroup]="contactForm" action="action_page.php" autocomplete="off">
      <label for="fname">ชื่อ-นามสกุล</label>
      <div class="form-group row content">
        <div class="col-lg-6">
          <input type="text" name="firstname" placeholder="กรอกชื่อ-นามสกุล" formControlName="conName">
        </div>
        <div class="col-6">
          <input type="text" name="lastname" placeholder="กรอกชื่อ-นามสกุล" formControlName="conLastname">
        </div>
      </div>

      <label for="lname">เลขห้อง</label>
      <input type="text" name="room" placeholder="กรอกเลขห้อง" formControlName="roomId">
      <label for="country">เบอร์โทร</label>
      <input type="text" name="phone" placeholder="กรอกเบอร์โทร" formControlName="conPhone">
      <label for="subject">รายละเอียด</label>
      <textarea id="subject" name="subject" placeholder="กรอกรายละเอียดสอบถาม" style="height:200px"
        formControlName="conText">
      </textarea>
      <input type="file" (change)="showPreviewImage($event)">
      <div style="text-align: center;">
        <input type="submit" value="ส่งข้อความ" (click)="save()" >
      </div>
    </form>
  </div>
</div>