
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4cbb19;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7ae47f;
}

.container {
  border-radius: 4px;
  background-color: hsla(0, 7%, 97%, 0.992);
  padding: 20px;
}
.bg-img {
    /* The image used */
    background-image: url("https://3.bp.blogspot.com/-e2YUWDtNCqA/WBsF2NM4V5I/AAAAAAAACeM/3xwDvU0i1roTWp0ryvLkeZc9Y60XfTwlQCEw/s640/001.jpg"); 
    min-height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }